.event-list {
    list-style: none;
    padding: 0px;
    margin: 20px 0px 40px;
}
.event-list > div {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
    padding: 0px;
    margin-top: 20px;
}
.event-list > div > .item {
    display: inline-block;
    color: rgb(255, 255, 255);
    background-color: rgb(197, 44, 102);
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}
.event-list > div:nth-child(even) > .item {
    background-color: rgb(165, 82, 167);
}
.event-list > div > .item > .icon {
    display: block;
    font-size: 24pt;
    font-weight: 100;
    line-height: 1;
    padding-top: 15px;
}
.event-list > div .item > .month {
    display: block;
    font-size: 18pt;
    font-weight: 900;
    line-height: 1;
}
.event-list > div > img {
    width: 100%;
}
.event-list > div > .info {
    padding-top: 5px;
    text-align: center;
}
.event-list > div > .info > .title {
    font-size: 17pt;
    font-weight: 700;
    margin: 0px;
    padding-top: 9px;
}
.event-list > div > .info > .desc {
    font-size: 12pt;
    font-weight: 300;
    margin: 0px;
}
.event-list > div > .info > ul,
.event-list > div > .info > ul > li,
.event-list > div > .info > ul > li > a {
    display: block;
    width: 100%;
    color: rgb(30, 30, 30);
    text-decoration: none;
}
.event-list > div > .info > ul > li:hover,
.event-list > div {
    position: relative;
    display: block;
    height: 80px;
    padding: 0px;
}
.event-list > div > .item,
.event-list > div > img  {
    display: inline-block;
}
.event-list > div > .item,
.event-list > div > img {
    width: 80px;
    float: left;
}
.event-list > div > .info {
    background-color: rgb(245, 245, 245);
    overflow: hidden;
}
.event-list > div > .item,
.event-list > div > img {
    width: 120px;
    height: 80px;
    padding: 0px;
    margin: 0px;
}
.event-list > div > .info {
    position: relative;
    height: 80px;
    text-align: left;
    padding-right: 40px;
}
.event-list > div > .info > .title,
.event-list > div > .info > .desc {
    padding-left: 10px;
}
.event-list > div > .info > ul {
    position: absolute;
    left: 0px;
    bottom: 0px;
}